﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <input class="btn btn-outline-danger" type="button" value="Person" onclick="location.href='@Url.Action("Index", "Person")'" />
    <input class="btn btn-outline-danger" type="button" value="Product" onclick="location.href='@Url.Action("Index", "Product")'" />
</div>
